.contener{
    position:absolute;
    top:0px;
    left:0px;
    width: 1440px;
    height: 1024px;
    background: #EFEAE6;
}

.logo{
    position:absolute;
    top:0px;
    left:0px;
    width: 1440px;
    height: 70px;
    background: #B5CCDC;
}

.logoimg{
    position:absolute;
    top:13px;
    left:25px;
    width: 59px;
    height: 22px;
    flex-shrink: 0;
}

#logotext{
    position:absolute;
    top:43px;
    left:17px;
    display: flex;
    width: 76px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #27393F;
    text-align: center;
    font-family: Signika;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#textlogo{
    position:absolute;
    top:0px;
    left:153px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#textglav{
    position:absolute;
    top:0px;
    left:862px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#textotziv{
    position:absolute;
    top:0px;
    left:986px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#textzakaz{
    position:absolute;
    top:0px;
    left:1110px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.imgbasket{
    position:absolute;
    top:13px;
    left:1287px;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

.imgframe{
    position:absolute;
    top:31px;
    left:26px;
    width: 263px;
    height: 271px;
    flex-shrink: 0;
}

.frame{
    position:absolute;
    top:210px;
    left:71px;
    width: 597px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #000;
}

.frame1{
    position:absolute;
    top:210px;
    left:772px;
    width: 597px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #000;
}

.frame2{
    position:absolute;
    top:619px;
    left:71px;
    width: 597px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #000;
}

.frame3{
    position:absolute;
    top:619px;
    left:772px;
    width: 597px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #000;
}

#textframe{
    position:absolute;
    top:72px;
    left:323px;
    width: 251px;
    height: 75px;
    flex-shrink: 0;
    color: #656565;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

#textnamexoz{
    position:absolute;
    top:31px;
    left:323px;
    width: 100px;
    height: 18px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


