.contener{
    position:absolute;
    top:0px;
    left:0px;
    width: 1440px;
    height: 1024px;
    background: #EFEAE6;
}

.logo{
    position:absolute;
    top:0px;
    left:0px;
    width: 1440px;
    height: 70px;
    background: #B5CCDC;
}

.logoimg{
    position:absolute;
    top:13px;
    left:25px;
    width: 59px;
    height: 22px;
    flex-shrink: 0;
}

#logotext{
    position:absolute;
    top:43px;
    left:17px;
    display: flex;
    width: 76px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #27393F;
    text-align: center;
    font-family: Signika;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#textlogo{
    position:absolute;
    top:0px;
    left:153px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#textglav{
    position:absolute;
    top:0px;
    left:862px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#textotziv{
    position:absolute;
    top:0px;
    left:986px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#textzakaz{
    position:absolute;
    top:0px;
    left:1110px;
    display: flex;
    width: 124px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.imgbasket{
    position:absolute;
    top:13px;
    left:1287px;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

#textaglav{
    position:absolute;
    top:114px;
    left:63px;
    display: flex;
    width: 558px;
    height: 174px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #BC7018;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.imgsobaka{
    position:absolute;
    left:23px;
    bottom: 0px;
    width: 411px;
    height: 564px;
    flex-shrink: 0;
}

.treugl{
    position:absolute;
    top:359px;
    left:927px;
    width: 457px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #BC7018;
}

#name{
    position:absolute;
    top:359px;
    left:508px;
    display: flex;
    width: 326px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #000;
    color: #656565;
    background-color : #EFEAE6;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#phone{
    position:absolute;
    top:517px;
    left:508px;
    display: flex;
    width: 326px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #000;
    color: #656565;
    background-color : #EFEAE6;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#vibr{
    position:absolute;
    top:727px;
    left:511px;
    width: 326px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #B5CCDC;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}